@import url("https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:wght@300&family=Shadows+Into+Light&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Shadows Into Light", sans-serif;
  font-weight: bold;
}

body {
  overflow-x: hidden;
}

* a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

#home {
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
}

.container #backgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: blur(3px); */
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: #251870;
}

.header img {
  width: 15rem;
  height: 6rem;
  margin-left: 3rem;
  margin-top: 1rem;
  filter: invert(1);
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40rem;
  height: 100%;
}

.nav_bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 80%;
  height: 100%;
}

.nav_bar ul li {
  list-style: none;
  width: 50%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: large;
  font-size: 1.8rem;
}

.nav_bar ul li a {
  text-decoration: none;
}

.nav_bar img {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 0.5rem;
}

.container #gancho {
  width: 100rem;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 3rem;
  position: absolute;
  top: 0;
  background-color: rgb(49, 38, 112, 0.6);
  border-radius: 2rem;
  gap: 2rem;
  padding: 1rem;
}

.nav_bar ul li a {
  color: white;
  font-weight: bold;
}

.nav_bar ul li a:hover {
  color: #ec6349;
  font-size: 1.7rem;
}

#sobre {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  gap: 7rem;
}

.comentarios {
  width: 50%;
  height: 30rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  margin-left: 2rem;
}

.comentario1 {
  width: 60%;
  height: 50%;
  text-align: start;
  color: #251870;
}

.comentario2 {
  width: 55%;
  height: 50%;
  text-align: start;
  align-self: flex-end;
  margin-top: 5rem;
  color: #251870;
}

#criador {
  background-color: #3e28bd;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding-top: 2rem;
}

.imagensArtistas {
  width: 50%;
  height: 25rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  margin-left: 2rem;
  display: flex;
  margin-bottom: 15rem;
}

.imagensArtistas img {
  width: 17rem;
  height: 17rem;
}

.boxT {
  width: 35rem;
  height: 35rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 1rem;
  font-size: 1.4rem;
}

#boxTsobre {
  background-color: #251870;
  color: rgb(225, 215, 204);
  margin-right: 2rem;
  margin-top: 6rem;
}

#boxTcriador {
  background-color: #8d7cf2;
  color: #251870;
  font-size: 1.5rem;
}

#boxTcriador img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.container p span.typed-text {
  font-size: 2.3rem;
  font-weight: bolder;
  color: #ec6349;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

.botao {
  width: 10rem;
  height: 3rem;
  border-radius: 1rem;
  color: rgb(9, 0, 10);
  background-color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.botao:hover {
  background-color: #8d7cf2;
  color: black;
  border: 2px solid black;
}

#contato {
  background-color: rgb(9, 0, 10);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 7rem;
}

#contato {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(225, 220, 225);
  flex-direction: row;
  gap: 7rem;
  background-color: #6f1b2c;
}

#boxTcontato {
  color: #6f1b2c;
  background-color: #f8db7e;
  position: absolute;
}

#boxTcontato input {
  width: 20rem;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
}

#boxTcontato #comentarioUsuario {
  width: 28rem;
  height: 12rem;
  border-radius: 1rem;
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
}

#boxTcontato button {
  margin-top: 1rem;
}

.footer {
  background-color: #140d3d;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer img {
  width: 3rem;
  height: 3rem;
  filter: invert(1);
  transition: 500ms linear;
}

.footer img:hover {
  filter: invert(0);
  transform: scale(1.2);
}

.cardCriador {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  width: 20rem;
  height: 30rem;
  background-color: #140d3d;
  color: white;
  padding: 1rem;
}

.cardCriador img {
  width: 10rem;
  height: 15rem;
  border-radius: 1rem;
}

.cardCriador h3 {
  font-size: 3rem;
  text-align: center;
}

.cardCriador p {
  font-size: 1.5rem;
}

.cardCriador a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.cardArtistas {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 2rem;
  width: 17rem;
  height: 27rem;
  background-color: white;
  color: white;
  padding: 1rem;
  transition: 200ms linear;
  color: #140d3d;
}

.cardArtistas:hover {
  transform: scale(1.05); 
}

.cardArtistas img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.cardArtistas h3 {
  font-size: 1.8rem;
}

.cardArtistas p {
  font-size: 1.3rem;
  text-align: center;
}

.cardArtistas a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}
