@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Shadows Into Light', sans-serif;
  font-weight: bold;
}

* a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

#home {
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
}

.container #backgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(3px);
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: rgb(248,219,126, 0.8);
}

.header img {
  width: 15rem;
  height: 6rem;
  margin-left: 3rem;
  margin-top: 1rem;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40rem;
  height: 100%;
}

.nav_bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 80%;
  height: 100%;
}

.nav_bar ul li {
  list-style: none;
  width: 50%;
  height: 100%;
  color: #ec6349;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: large;
  font-size: 1.5rem;
}

.nav_bar ul li a {
  text-decoration: none;
}

.nav_bar img {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 1rem;
}

.container #gancho {
  width: 40rem;
  height: 30rem;
  color: #f8db7e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 2.5rem;
  margin-left: 28rem;
  position: absolute;
  top: 0;
  margin-top: 10rem;
  background-color: rgb(111, 27, 44, 0.85);
  border-radius: 2rem;
  gap: 2rem;
  padding: 1rem;
}

.nav_bar ul li a {
  color: #6f1b2c;
  font-weight: bold;
}

.nav_bar ul li a:hover {
  color: #ec6349;
  font-size: 1.3rem;
}

#sobre {
  background-color: #310a26;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  gap: 7rem;
}

.comentarios{
  width: 50%;
  height: 30rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  margin-left: 2rem;
}

.comentario1 {
 width: 60%;
 height: 50%;
 text-align: start;
 color: #ec6349;
}

.comentario2 {
  width: 55%;
  height: 50%;
  text-align: start;
  align-self: flex-end;
  margin-top: 5rem;
  color: #ec6349;
 }

#criador {
  background-color: #ec6349;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 7rem;
}

.imagensArtistas {
  width: 50%;
  height: 30rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 2rem;
  margin-left: 2rem;
}

.boxT {
  width: 35rem;
  height: 35rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 1rem;
  font-size: 1.4rem;
}

#boxTsobre {
  background-color: #6f1b2c;
  color: rgb(225, 215, 204);
  margin-right: 2rem;
}

#boxTcriador {
  background-color: rgb(225, 215, 204);
  color: rgb(9, 0, 10);
}

#boxTcriador img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.container p span.typed-text {
  font-size: 2.3rem;
  font-weight: bolder;
  color: #ec6349;

}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

.botao {
  width: 10rem;
  height: 3rem;
  border-radius: 1rem;
  color: rgb(9, 0, 10);
  background-color: rgb(225, 215, 204);
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.botao:hover {
  background-color: rgb(9, 0, 10);
  color: rgb(225, 215, 204);
  border: 2px solid rgb(225, 215, 204);
}

#contato {
  background-color: rgb(9, 0, 10);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 7rem;
}

#contato {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(225, 220, 225);
  flex-direction: row;
  gap: 7rem;
}

#boxTcontato {
  color: rgb(225, 215, 204);
  background-color: rgb(9, 0, 10);
}

.footer {
  background-color: #310a26;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer img {
  width: 3rem;
  height: 3rem;
  filter: invert(1);
  transition: 500ms linear;
}

.footer img:hover {
  filter: invert(0);
  transform: scale(1.2)
}

