@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Patua One", cursive;
}

* a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  height: 100vh;
}

#home {
  background: url("../assets/imagem_banner_pp.png");
  background-size: cover;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 15rem;
  height: 6rem;
  margin-left: 3rem;
  margin-top: 1rem;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40rem;
  height: 100%;
}

.nav_bar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 80%;
  height: 100%;
}

.nav_bar ul li {
  list-style: none;
  width: 50%;
  height: 100%;
  color: rgb(225, 215, 204);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: large;
}

.nav_bar ul li a {
  text-decoration: none;
}

.nav_bar img {
  width: 2.5rem;
  height: 2.5rem;
  margin-bottom: 1rem;
}

.container #gancho {
  width: 40rem;
  height: 30rem;
  color: rgb(225, 215, 204);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  margin-left: 25%;
}

.nav_bar ul li a {
  color: rgb(225, 215, 204);
  font-weight: bold;
}

.nav_bar ul li a:hover {
  color: rgb(225, 215, 204);
  font-size: 1.3rem;
}

#sobre {
  background-color: rgb(225, 220, 225);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 7rem;
}

#criador {
    background-color: rgb(9, 0, 10);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  gap: 7rem;
}

.boxT {
  width: 30rem;
  height: 30rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 1rem; 
}

#boxTsobre {
  background-color: rgb(9, 0, 10);
  color: rgb(225, 215, 204);
}

#boxTcriador {
  background-color: rgb(225, 215, 204);
  color: rgb(9, 0, 10);
}



.container p span.typed-text {
  font-weight: normal;
  color: #dd7732;
}
.container p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

.botao {
  width: 10rem;
  height: 3rem;
  border-radius: 1rem;
  color: rgb(9, 0, 10);
  background-color: rgb(225, 215, 204);
  font-size: 1.5rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.botao:hover {
  background-color: rgb(9, 0, 10);
  color: rgb(225, 215, 204);
  border: 2px solid rgb(225, 215, 204);
}

#contato {
  background-color: rgb(9, 0, 10);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 7rem;
}

#contato {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(225, 220, 225);
  flex-direction: row;
  gap: 7rem;
}

#boxTcontato {
  color: rgb(225, 215, 204);
  background-color: rgb(9, 0, 10);
}

.footer {
  background-color: rgb(9, 0, 10);  
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  bottom: 0px; 
}

.footer img {
  width: 3rem;
  height: 3rem;
  filter: invert(1);
  transition: 500ms linear;
}